.image {
    background-image: url(https://i.gifer.com/Nv2.gif);
    max-width: ;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}

    .tg {
        background-image: url(https://github.com/Doule-soft/Doule-soft.github.io/blob/main/telegram.png?raw=true)
        
    }

    body {
        height: 30px;
        color: black;
    }
    .wee {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -300px;
        width: 100px;
    }
.www {
    background-image: url(https://github.com/Doule-soft/Doule-soft.github.io/blob/main/photo_2022-11-29_09-08-41.jpg?raw=true);
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
